*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #D7AF70;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5vmin;
}
.box{
  height: 19vmin;
  width: 19vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 9vmin;
  color: F8FFE5;
  background-color: #F3DFC1;
}
#restart{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #A2E8DD;
    color: rgb(16, 3, 3);
    border-radius: 1rem;
    border: 2px solid black;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #A2E8DD;
    color: rgb(16, 3, 3);
    border-radius: 1rem;  
    border: 2px solid black;
}
.msg{
    color: E5D4ED;
    font-size: 8vmin;
}
.msg-container{
    height:100vmin ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}
/* .noWinner{
    height:100vmin ;
}
.draw{
    font-size: 3rem;
    height:100vmin ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
} */